<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.1589.5942" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="ValvePak" version="0.4.0.11" targetFramework="net45" />
</packages>