name: CI

permissions:
  actions: write
  contents: write
  id-token: write

on:
  push:
    paths-ignore:
    - '.github/*_TEMPLATE/**'
    - '*.md'
  pull_request:
    paths-ignore:
    - '.github/*_TEMPLATE/**'
    - '*.md'
  workflow_dispatch:
  schedule:
  - cron: "0 10 1 * *"

jobs:
  build:
    name: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-latest]

    runs-on: ${{ matrix.os }}

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Cache NuGet
      uses: actions/cache@v5
      with:
        path: ${{ env.NUGET_PACKAGES }}
        key: nuget-${{ runner.os }}-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          nuget-${{ runner.os }}-
          nuget-

    - name: Run tests
      run: dotnet test ./Tests/Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput='./lcov.info' /p:Include="[ValveResourceFormat*]*"

#    - name: Check formatting
#      if: matrix.os == 'ubuntu-latest'
#      run: dotnet format --verify-no-changes

    - name: Pack nupkg
      run: dotnet pack --configuration Release ValveResourceFormat/ValveResourceFormat.csproj

    - name: Publish GUI
      if: matrix.os == 'windows-latest'
      run: dotnet publish --configuration Release --self-contained --runtime win-x64 GUI/GUI.csproj

    - name: Publish CLI (Windows x64)
      if: matrix.os == 'windows-latest'
      run: dotnet publish --configuration Release --self-contained --runtime win-x64 CLI/CLI.csproj

    - name: Publish CLI (Windows arm64)
      if: matrix.os == 'windows-11-arm'
      run: dotnet publish --configuration Release --self-contained --runtime win-arm64 CLI/CLI.csproj

    - name: Publish CLI (Linux x64)
      if: matrix.os == 'ubuntu-latest'
      run: dotnet publish --configuration Release --self-contained --runtime linux-x64 CLI/CLI.csproj

    - name: Publish CLI (Linux arm)
      if: matrix.os == 'ubuntu-latest'
      run: dotnet publish --configuration Release --self-contained --runtime linux-arm CLI/CLI.csproj

    - name: Publish CLI (Linux arm64)
      if: matrix.os == 'ubuntu-24.04-arm'
      run: dotnet publish --configuration Release --self-contained --runtime linux-arm64 CLI/CLI.csproj

    - name: Publish CLI (macOS x64)
      if: matrix.os == 'macos-latest'
      run: dotnet publish --configuration Release --self-contained --runtime osx-x64 CLI/CLI.csproj

    - name: Publish CLI (macOS arm64)
      if: matrix.os == 'macos-latest'
      run: dotnet publish --configuration Release --self-contained --runtime osx-arm64 CLI/CLI.csproj

    - name: Build misc projects
      if: matrix.os == 'windows-latest'
      run: dotnet build Misc/MiscVrfProjects.slnx

    - name: Upload GUI
      uses: actions/upload-artifact@v6
      if: matrix.os == 'windows-latest'
      with:
        name: Source2Viewer
        path: GUI/bin/Release/win-x64/publish

    - name: Upload nupkg
      uses: actions/upload-artifact@v6
      if: matrix.os == 'windows-latest'
      with:
        name: nupkg
        path: 'ValveResourceFormat/bin/Release/*.nupkg'

    - name: Upload CLI (Windows x64)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'windows-latest'
      with:
        name: cli-windows-x64
        path: CLI/bin/Release/win-x64/publish

    - name: Upload CLI (Windows arm64)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'windows-11-arm'
      with:
        name: cli-windows-arm64
        path: CLI/bin/Release/win-arm64/publish

    - name: Upload CLI (Linux x64)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'ubuntu-latest'
      with:
        name: cli-linux-x64
        path: CLI/bin/Release/linux-x64/publish

    - name: Upload CLI (Linux arm)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'ubuntu-latest'
      with:
        name: cli-linux-arm
        path: CLI/bin/Release/linux-arm/publish

    - name: Upload CLI (Linux arm64)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'ubuntu-24.04-arm'
      with:
        name: cli-linux-arm64
        path: CLI/bin/Release/linux-arm64/publish

    - name: Upload CLI (macOS x64)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'macos-latest'
      with:
        name: cli-macos-x64
        path: CLI/bin/Release/osx-x64/publish

    - name: Upload CLI (macOS arm64)
      uses: actions/upload-artifact@v6
      if: matrix.os == 'macos-latest'
      with:
        name: cli-macos-arm64
        path: CLI/bin/Release/osx-arm64/publish

    - name: Upload test coverage
      uses: codecov/codecov-action@v5
      if: github.ref == 'refs/heads/master'
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./Tests/lcov.info
        fail_ci_if_error: true
        verbose: true

  release:
    name: Create release
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v7
      with:
        path: artifacts

    - name: Display artifacts folder structure
      run: find .
      working-directory: artifacts

    - name: Upload binaries to be signed
      id: signpath-artifact
      uses: actions/upload-artifact@v6
      with:
        name: signpath-to-be-signed
        retention-days: 1
        # If the folder or executable names change, login to signpath
        # and modify the "Artifact Configurations" there, as it specifies the paths
        path: |
          artifacts/Source2Viewer/
          artifacts/cli-windows-x64/
          artifacts/cli-windows-arm64/

    - name: Sign the binaries
      uses: signpath/github-action-submit-signing-request@v2
      with:
        api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
        organization-id: '4ff8c8f4-926e-4ee5-8886-7899212bb76e'
        github-artifact-id: '${{ steps.signpath-artifact.outputs.artifact-id }}'
        project-slug: 'ValveResourceFormat'
        signing-policy-slug: 'release-signing'
        output-artifact-directory: 'signed'
        wait-for-completion: true

    - name: Display signed folder structure
      run: find .
      working-directory: signed

    - name: Create release files
      run: |
       set -eux
       mkdir release
       chmod +x artifacts/cli-linux-x64/Source2Viewer-CLI
       chmod +x artifacts/cli-linux-arm/Source2Viewer-CLI
       chmod +x artifacts/cli-linux-arm64/Source2Viewer-CLI
       chmod +x artifacts/cli-macos-x64/Source2Viewer-CLI
       chmod +x artifacts/cli-macos-arm64/Source2Viewer-CLI
       zip -9j release/cli-windows-x64.zip signed/cli-windows-x64/*
       zip -9j release/cli-windows-arm64.zip signed/cli-windows-arm64/*
       zip -9j release/cli-linux-x64.zip artifacts/cli-linux-x64/*
       zip -9j release/cli-linux-arm.zip artifacts/cli-linux-arm/*
       zip -9j release/cli-linux-arm64.zip artifacts/cli-linux-arm64/*
       zip -9j release/cli-macos-x64.zip artifacts/cli-macos-x64/*
       zip -9j release/cli-macos-arm64.zip artifacts/cli-macos-arm64/*
       mv signed/Source2Viewer/Source2Viewer.exe release/
       mv artifacts/nupkg/ValveResourceFormat.*.nupkg release/ValveResourceFormat.nupkg

    - name: Display structure of archived files
      run: ls -Rl
      working-directory: release

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        files: release/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: NuGet login
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}

    - name: Publish to NuGet Gallery
      run: dotnet nuget push release/ValveResourceFormat.nupkg --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source "https://api.nuget.org/v3/index.json"
