name: Validate Shaders

on:
  workflow_dispatch:
  push:
    paths:
      - Renderer/Shaders/**
      - Renderer/Renderer/ShaderLoader.cs
      - Renderer/Renderer/ShaderParser.cs
  pull_request:
    paths:
      - Renderer/Shaders/**
      - Renderer/Renderer/ShaderLoader.cs
      - Renderer/Renderer/ShaderParser.cs

permissions:
  contents: write

jobs:
  validate:
    runs-on: ubuntu-latest

    env:
      MESA_GLSL_VERSION_OVERRIDE: '460'
      MESA_GL_VERSION_OVERRIDE: '4.6'
      GALLIUM_DRIVER: 'llvmpipe'

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Validate
      run: xvfb-run -a -s "-screen 0 1280x1024x24" dotnet run --project Misc/ShaderValidator
